.fit {
	min-height: calc(100vh - 88px);
}

.logo {
	max-width: 75px;
	align-self: flex-start;
}
button {
	appearance: none;
	background: none;
	background-color: transparent;
	border-color: #fff;
	border-radius: 5px;
	border: 2px solid #fff;
	padding: 0.5em 2em;
	
}
.button {
	background-color: transparent;
	border-color: #fff;
	border-radius: 5px;
	border: 2px solid #fff;
	padding: 0.5em 2em;
	color: #fff;
	font-family: var(--font-serif);
	font-weight: 500;
}
.button:hover {
	background-color: #fff;
	color: #ff5858;
	cursor: pointer;
}

/* Hero Module */
/* .hero--content h1 {
  @apply text-accent-0 font-semibold leading-none text-white;
} */
