.fit {
	min-height: calc(100vh - 88px);
}

.logo {
	max-width: 75px;
	align-self: flex-start;
}
button {
	appearance: none;
	background: none;
	background-color: transparent;
	border-color: #fff;
	border-radius: 5px;
	border: 2px solid #fff;
	padding: 0.5em 2em;
}
.button {
	background-color: transparent;
	border-color: #fff;
	border-radius: 5px;
	border: 2px solid #fff;
	padding: 0.5em 2em;
	color: #fff;
	font-family: var(--font-serif);
	font-weight: 500;
}
.button:hover {
	background-color: #fff;
	color: #ff5858;
	cursor: pointer;
}
.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 3em 0;
}
.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.off-white {
	background-color: #ecf0f4;
	color: #000;
}
section {
	text-align: center;
	padding: 4em 0;
}
section h2:first-of-type {
	font-size: 2rem;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
}
.cardListing {
	padding: 1em 0 3em;
	text-align: center;
}
section.rarity h2:first-of-type {
	color: #fff;
	text-align: left;
}

@media screen and (max-width: 768px) {
	.flexColumn,
	.flexRow {
		flex-direction: column;
	}
	.flexRow {
		align-items: stretch;
	}
	section.rarity h2:first-of-type {
		text-align: center;
		margin: 0 0 1em;
	}
}

@media screen and (max-width: 1199px) {
	.container {
		padding: 0 2em;
	}
}
