.root {
	position: relative;
	padding: 4em 0;
}
.stepPanel {
	position:relative;
	border-radius: 40px;
	padding: 0;
	text-align: center;
	width: 600px;
	height: auto;
	margin: 0 auto;	
}
.frame {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}
.frame img {
	position: absolute;
	top: 0;
}
.frame, .bgImage {
	border-radius: 30px;
}
.bgImage {
	position: absolute;
	z-index: 2;
}
img {
	position: relative;
	z-index: 3;
}
.controls {
	z-index: 3;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 5px 0;
	padding: 1em 0;
}
.fuseRow {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2em;
	padding: 1em 0;
}
.fuseWindow {
	background-color: #4b5563;
	padding: 1em 0;
	border: 1px solid #374151;
}
.fuseStage, .nftRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.nftRow {
	padding: 2em 0;
	background-color: rgba(0,0,0,0.5);
	gap: 0 2em;
	margin: 1em 0 0;
}
.nftItem {
	position: relative;
	transition: all 0.2s ease-in-out;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 3em;
	opacity: 0.6;
	border-radius: 20px;
	background-color: #ddd;
}
.nftItem:hover {
	cursor: pointer;
	opacity: 1.0;
	transform: scale(1.2);
}
.traitSliders {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 1em 0;
}
.traitItem {
	margin: 5px 0 1em;
}